.form-style {
    width: 100%;
  }
  
  .form-style div {
    position: relative;
    width: 100%;
  }
  
  .button-div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  